# pylintrc - Pylint configuration

[MASTER]
# Add files or directories to the blacklist
ignore=tests,migrations,.terraform

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    too-many-arguments,
    too-few-public-methods,

[FORMAT]
max-line-length=120

[DESIGN]
max-locals=15
max-branches=12
max-attributes=7
