opencv-python-headless==4.11.0.86
pdf2image==1.17.0
Pillow==11.3.0
pytesseract==0.3.13
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
rapidfuzz==3.14.5
python-dateutil==2.9.0.post0
dateparser==1.2.2
numpy==2.2.6
python-json-logger==3.3.0
typing-extensions==4.15.0

pytest==8.4.1
pytest-cov==6.2.1
